@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');


body {
	padding: 0px;
	margin: 0px;
	font-family: 'VT323', monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	color: #333;
	background-color: #e2e2e0;
}
h1 h2 h3 p{
 text-align: left;
}



#wrapper {
}

#canvas-holder {
	/* margin: 20px auto; */
}

canvas {
	/* border-radius: 8px; */
	width:100vw;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
	/* border-top: 5px solid red; */
}



#controls{
position:fixed;
bottom:-50px;
height:250px;
width:80vw;
align-content: center;
border-width: 4px;
border-style: solid;
border-color: #000;
border-radius: 25px;
background:#90C64F;
margin-left: 10vw;
margin-right: 10vw;
padding: 0 1.5vw 0 1.5vw;
}


#controls .treeButton{
	border-radius: 5px;
	border: 5px solid #000;
	height:100px;
	weight:100px;
}
#controls .metaInput{
	border-radius: 5px;
	border: 5px solid #fff;
}
#controls .donateButton{
	border-radius: 5px;
	border: 3px solid #fff;
}

.numberAlign{
	max-width: 30px;
}


#slider {
	position: relative;
	top: 2px;
}

#download {
	color: #666;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.5px;
	cursor: pointer;
	transition: 150ms ease-in-out;
	border-radius: 4px;
	padding: 6px 12px;
	position: relative;
	top: -1px;
	margin-left: 30px;
}

#download:hover {
	background-color: #d2d2d0;
}

.nestedLayout{
	margin: 80px 0 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nestedElements{
	padding: 40px;
  position: relative;
}

.myTree1{
	background-color: #EBF4B3;
	background-image: url("tree1.png");
	background-repeat: no-repeat;
	min-width: 74px;
	border-radius:13px;
	border: 3px solid #000;
	min-height:82px;

	background-size: cover; /* Resize the background image to cover the entire container */
}
.myTree1:hover{
	background-color: red;

}


.myTree2{
	background-color: #EBF4B3;
	background-image: url("tree2.png");
	background-repeat: no-repeat;
	min-width: 74px;
	border-radius:13px;
	border: 3px solid #000;
	min-height:82px;

	background-size: cover; /* Resize the background image to cover the entire container */

}
.myTree2:hover{
	background-color: red;

}

.myTree3{
	background-color: #EBF4B3;
	background-image: url("tree3_001.png");
	background-repeat: no-repeat;
	min-width: 74px;
	border-radius:13px;
	border: 3px solid #000;
	min-height:82px;

	background-size: cover; /* Resize the background image to cover the entire container */

}
.myTree3:hover{
	background-color: red;

}



/* #controls .treeButton{
	border-radius: 5px;
	border: 5px solid #000;
	height:100px;
	weight:100px;
} */



.Selected{
	background-color: green;
}



@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}
